.nav-tabs.nav-stacked > li > a, .nav-tabs.nav-stacked > li > ul > li > a {
    padding: 15px 10px 14px 10%;
    #border-top: none;
    border-bottom: 1px solid #c4cde0;
    border-left: none;
    border-right: 1px solid #c4cde0;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	    color: #777777;
	background-color: #f8f8f8; 
	}

	

.nav-tabs.nav-stacked > li.active > a,.nav-tabs.nav-stacked > li.active > a:hover,.nav-tabs.nav-stacked > li > a:hover, .nav-tabs.nav-stacked > li > ul > li.active > a:hover {
    background: #3299bb;
    color: #fff;
    border: none;
    border-bottom: 1px solid #3299bb;
	} 
	
.nav-stacked > li .disabled a:hover{ 
	background: #f8f8f8;
    color: #fff;
    border: none;
    border-bottom: 1px solid #3299bb;
}