/*
Any class/id to be shown is added to second line
Any class/id NOT to be shown is added to first line

*/
body, .view, .error, .success, .notice {visibility:hidden;}
.no-print{display:none !important;height:0px !important;}
.print-area{visibility:visible; }
