body {padding-top:0px;color:#555;}
@page  
{ 
    size: auto;   /* auto is the initial value */ 
    /* this affects the margin in the printer settings */ 
	/*for some reason, by default, there's a large margin-right when printing. this is to cancel it*/
    margin-right:-25mm;  
	
	
} 
/*Frontend styles*/
body.frontend{background-color:#fff;}
table.schedules-table {font-size:18px;line-height:30px;   }
table.schedules-table td{ padding: 15px 8px 8px 8px;}
table.schedules-table th{ border:none;}
.unbold{font-weight:100;}
.no-border-radius{border-radius:0px;}
/*End*/
.container-fluid{-webkit-box-pack: justify;  -webkit-justify-content: space-between;    -ms-flex-pack: justify;    justify-content: space-between;
    position: relative;    margin: 0 auto;	padding:1%;
}

.footer {	height:30px; width:100%;  #background-color:#BCBCBC;	margin:0px auto;}
.strip{ position:relative;top:-5px;background-color:#e9e9e9;}
.clear {	clear:both;	margin-top:0px;	height:1px;}
.head,.head-small{	#height:65px;	width:100%;	background-color:#ffffff;	}
.admin-head,.admin-head-small{	height:65px;	width:100%;	background-color:#3299bb; border-bottom:2px solid #01536f;	}

.head-content{	min-height:65px;	padding:0px; }
.footer-content{	border-top:1px solid #BCBCBC; 	height:50px;	 padding-top:15px;}
.admin-head-content{	    padding: 0 3% 0 2%;	height:65px;	margin:0px auto; }
.head-small{	height:55px;	padding:5px 0 0 0;}	
.header-center{	float:right;margin:25px 0 0 35px;text-align:right;font-size:14px; padding-top:8px;}
.header-center a{padding:10px 0 0 0;color:#555;}
.header-center.hmenu a:hover{border-top: 3px solid #B5D939;text-decoration:none;}
.header-right{	float:right;	margin-top:10px;text-align:right;font-size:15px;}
.hmenu{margin-top:15px;}
.controls.signup-ctrl {width:320px;}
.signup-form{float:left; padding:10px 0 0 170px;}



.banner{color:white;}
.banner input{height:40px; width:auto; font-size: 17px;}
.banner select{height:50px;  font-size: 17px; width:auto;}
.banner-subheading{font-size:1.5em;color:white}
.banner-form{#margin: 0px 2%;}
.banner-button{float:right;height:54px;width:95%;}
.banner-caption{padding:10px 0;}








.tiny-text{font-size:12px;}
.agency-info{color:#fff;font-size:18px;font-weight:bold;}
.no-margin{margin:0px;}
.banner img{	}
/*<!-- .banner-image{	margin:0px auto; 	width:1000px;} -->*/
.banner{background-color: #3299bb;height:auto;margin:0 auto;padding:10px 2px;background-image:url('../images/banner.PNG');min-height:360px;

/*
padding: 15px;
background: #5bc0de;
background: -webkit-linear-gradient(45deg, #3299bb, #5bc0de);
background: -moz-linear-gradient(45deg, #3299bb, #5bc0de);
background: -o-linear-gradient(45deg, #3299bb, #5bc0de);
background: -ms-linear-gradient(45deg, #3299bb, #5bc0de);
background: linear-gradient(45deg, #3299bb, #5bc0de); */
}
.IsSchedule{text-decoration:overline;#color:#B5D939;}
.spec {padding:15px;}
.fieldcenter {padding-left:50px;}
.line{ 	padding: 0 20px 0 0;border-right: 1px solid #ddd;}
.highlighted-unit{ border-color: #bce8f1;}
.highlighted-unit .heading{ color: #f89406;}

.rightspec {	text-align:right;	font-size:12px;	padding: 15px 15px 0 15px;}
.everything {	#background-color:#fff;}	
.container,.container-fluid {width:83%;float:left;    margin-top: 1%;}
.left-menu{margin:0 2% 0 0;width:12.5%;float:left;    font-size: 18px;}
.small {	font-size:11.5px;	font-weight: lighter;}
.logo{	float:left;	color:#FFF; border-top:3px solid #B5D939;padding:9px 0px;}
.logo-center {float:left;}
.footer-left{float:left;}
.footer-logo{background-image:url('/quickticket/images/logos/logo-white.png');float:left;width:67px;height:62px;}
.footer-logo:hover{background-image:url('/quickticket/images/logos/logo-col.png');float:left;width:67px;height:62px;}
.footer-right{float:right;text-align:right;}
.left{	float:left;}
.clear{	clear:both;}
.little {	margin-top:0px;}
.settings,.user-info{#padding: 5px 0px 5px 5px;}
.header_text label, .header_text a{	font-size: 12px;	font-weight: normal;	line-height: 22px;	color: #ffffff;}
.mid_content{	margin:38px 0 0px 0;}
.separators{	border-left:1px solid #BCBCBC;	float:left;	padding:5px;	height:15px;	margin: 15px 0 0 0;}
.prof-unit{	padding:5px 10px;	-webkit-border-radius: 1px;	-moz-border-radius: 1px;	border-radius: 1px;}
.prof-pic{	float:right;	text-align:center;}
.v-line{	padding:0 auto;}
.description2{	color:#818486;	font: Helvetica Neue Medium;	font-size:18px;	text-align:center;	padding:10px 10px 20px 10px;}
.description3{	color:#818486;	font: Helvetica Neue Medium;	font-size:33px;	text-align:center;	padding:2px 10px 20px 10px;	font-weight:sharp;}
h10{	font-weight:bold;	display:block;	font: Helvetica Neue Medium;	font-size:14px;}
.fader img{	width:100%;}
.relive{	color:#818486;	font-size:18px;	text-align:center;	}
.large select{	height:45px;	width:240px;	font-size:25px;	padding:6px;	}
.heading {	font-weight:bold;	width:100%;	font-size:17px;	margin:0px;	padding:0px;}
.rule hr{	border-top:1px solid #BCBCBC;	padding:0px;	margin:2px 0 8px 0;}
.rule-dotted hr{	border-top:1px dotted #BCBCBC;	padding:0px;	margin:2px 0 8px 0;}
.lab{font-size:16px;}
.small-link{	font-size:15px;	padding-left:10px;}

.login-content{	width:400px; margin:30px auto;	}
.error-content{	width:400px;		margin:100px auto;	}
body{	#background-color:#f8f8f8;}
.logo-container{	width:1000px;	margin:1px auto;}
h20 {	font-size:20px;	font-weight:bold;color:#666;}
.grey{	background-color:#BCBCBC;}
.alert{	text-align:center;}
.recent{font-size:14px;}
/* input, textarea, .uneditable-input {width: 175px;} */
.create-btn{margin:13px 0 0 2px;}
.short-dropdown select{width:80px;}
.short-dropdown {width:100px;float:left;}
.flexible-dropdown select{width:auto;}
.error{ border: 1px solid red;color:red;margin-bottom:0px;}
.success{border: 1px solid #00FF00;color:green;margin:0px 0px;background-color:#dff0d8;}
.alert{clear:both;}
.short{width:30%; margin:0px auto;position:relative;}

.white,.white a{color:#fff;}
.large{margin-right:10px;}
a.search-block {color:000;}
.control-label,.control-group{width:190px;margin-right:0px;}
.select{width:180px;}
.small-right-link{float:right;font-size:12px;font-weight:normal;}
.btn-group .drop{webkit-border-radius: 0px;border-radius: 0px;border-top-left-radius: 0px;}
.no-left-margin{margin-left:0px;}
.head-center{display:inline;margin:30px 250px 0 250px;}
.breadcrumb{}
.controls{width:192px; }
.controls h3{margin-top:0px;font-size:25px;}
.span2.spacious{width:200px;}
.span3.spacious{width:180px;}
.strip-heading{color:#555;font-size:24px;padding:20px 0px 15px 0px;}
.intro-text{float:left;width:360px; margin-right:20px;padding:60px 0 0 0;}
.home-slide{float:left;}
.home{margin-right:52px;}
.green{color:#B5D939;}
h1, h2, h3 {line-height: 25px;}
h2{font-size:50px;}
#accept{background-image:url('../images/apply.png');border:none;height:25px;width:25px;}
#reject{background-image:url('../images/delete.png');border:none;height:24px;width:24px;}
.trash{float:right;}
td.taken-seat{background-color:#fbeed5;color:red;border:1px solid red;}
.nota-bene{font-size:13px; color: #2f96b4; line-height:17px;}
.view{float:right;font-size:13px;font-weight:normal;}
.plain{height:30px; width:110px;font-size:12px;float:right;}
.parcel-info{width:400px;float:left;}
.parcel-questions{float:right;margin-top:20px;}
#.backend .hero-unit{background-color:#fff;}
.notice{margin:5px auto; clear:both;width:auto;}
.s-by-s{float:left; margin-right:15px;}
/* #dp1{width:120px;} */
.ban{height:280px;}
.ban .left-text{#width:500px;float:left; padding-top:40px;margin-left:0px;}
.ban .left-text .h1{color:#fff;font-size: 52px;line-height: 50px;font-weight: 500;}
.ban .left-text .h2{color:#fff;font-size: 52px;font-size:30px;padding:25px 0px;line-height: 30px;}
.ban .right-image{#width:540px;float:right;color:#fff; }
.home-tab img {height:85px;}
.home-tab  {text-align:center;font-size:17px;line-height:25px;}
.featured{margin:20px;}
.featured-tab{float:left;margin-right:55px;width:15%;}
.featured-tab.last{margin-right:0px;}
.notification{color:#fff;background:red;border-radius:20px;padding:1px 5px;font-size:13px;}
.simple-form .sf_label{display:inline;float:left; width:35%;}
.simple-form .sf_text{display:inline;float:left; width:65%;}
input.search-query {border-radius:0px;}
.white-back{background:#fff;}
.table{background:#fff;}
.hero-unit{background:#fff;}
.btn-large{#border-radius:0px;}
img.glyph{width:15px;}

.icon-bus {background-image: url("../images/more-glyphicons/glyphicons_031_bus.png");background-position: center center;height: 14px;width: 14px;}
.icon-money {background-image: url("../images/more-glyphicons/glyphicons_458_money.png");background-position: center center;height: 14px;width: 18px;}

.bold{
	#font-weight:bold;
	font-size:17px;
}
.download .checkbox:hover {
color: #333;
background-color: #f5f5f5;
}
.download .checkbox {
padding: 3px 10px 3px 25px;
font-size: 15px;
line-height: 18px;
color: #555;
background-color: #f9f9f9;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
cursor: pointer;
margin-bottom:2px;
}
.free-ticket {
background:red;
background-image: url('../images/free.png');
border: none;
height: 27px;
width: 40px;
}
.text-right, .table .text-right{text-align:right;}
.red{color:red;}

.red-dot{
	    -moz-border-radius: 5px/5px;
    -webkit-border-radius: 5px 5px;
    border-radius: 50%/50%;
    border: solid 1px red;
    background-color: red;
    width: 15px;
    height: 5px;
    color: red;
    padding: 0px 2px;
    font-size: 8px;
}
.green-dot{
	-moz-border-radius: 5px/5px;
    -webkit-border-radius: 5px 5px;
    border-radius: 50%/50%;
    border: solid 1px green;
    background-color: green;
    width: 15px;
    height: 5px;
    color: green;
    padding: 0px 2px;
    font-size: 8px;
}
.reservation-guidelines{ font-family: Calibri,"Helvetica Neue", Helvetica, Arial, sans-serif;color:gray; font-size:16px;}

table.table.no-border th, table.table.no-border td{
	border-top:#fff;
}

.btn-multiselect{
	background-color: #fff;
	border-radius:0px;
	margin:5px 0px;
	padding:7px 10px;
}
.print-head{line-height:20px;text-align:center;}
.auto-center{float:none;margin:0px auto;}
.pull-right{float:right;}
